.form-signInOut {

    width: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.form-sign {

    padding: 60px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;

}