.mat-form-field {
    display: block;
}
.associate-box {

    margin: 50px 10px;
}
.paddingleft10 {
    padding-left: 10px;
}

.paddingright10 {
    padding-right: 10px;
}

.w-49 {
    width: 49%;
}
.formcolumn {

    padding-top: 20px
}