.users-details-list{
    background-color: rgb(215, 215, 216);
}
.card {

    width: 15rem;
}

.active {


    color: #fff;
    background-color: #00b74a;

}
.card-body {

    border: 1px solid #c8c8c8;
    border-radius: 0.4rem;
}
.company-box {

    display: flex;
    flex-wrap: wrap;
}