.form-signInOut {

    width: 100%;
    max-width: 600px;
    position: relative;
    transform: translateX(-50%);
    margin-top: 100px;
    left: 50%;
}
.form-sign {

    padding: 60px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;

}